html { height: 100%; }

@font-face {
  font-family: "Main";
  src: url("/fonts/OpenSans-Regular.ttf")
}

body {
    min-height:100%;
    position:relative;
    padding-bottom:40 px;
}

body {
  font-family: 'Main', sans-serif !important;
}

.navbar {
  position:fixed;
  width:100%;
  z-index:3;
  overflow:auto;
  background-color: 990000;
  color: white;
}

.navbar a {
  color: white
}

#main {
  padding-top:60px;
  z-index:1000;
}

/* drag and drop upload css */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center;
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

/* typography */
.warning-text {
  color: orange;
}

/* stats */
.statsBlock {
  border-radius: 10px;
  border: 2px solid gray;
  padding: 5px 5px 5px 5px;
  margin-right: 15px;
  background-color: white;
  height: 125px;
  width: 145px;
  text-align: center;
}

.statsPanel {
  background-color: white;
  font-size: 3.5em;
  text-align: center;
}

.statsFooter {
  padding: 5px;
}

.statsText {
  font-size: 16px;
  color: gray
}

#searchBox {
    width: 100%;
}

#userTable th {
  cursor: pointer;
}

#ticket-list {
  table-layout: fixed;
}

#ticketnumber {
  width: 51px;
}

#ticketstatus {
  width: 131px;
}

#ticketstudent {
  width: 175px;
}

#ticketdate {
  width: 283px;
}

#ticketTA {
  width: 153px;
}

#ticketdesc {
  width: 370px;
}
